<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="<%= data.user.image %>" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p><%= data.user.user_name %></p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>

     <li class="<% if(data.page === 'meeting_management') { %> active <% } %> management">
      <a href="/management/meeting_managemant">
        <i class="fa fa-tasks" aria-hidden="true"></i> <span>Meeting Management</span>
      </a>
    </li>
     <li class="<% if(data.page === 'user_management') { %> active <% } %> management">
      <a href="/management/user_management">
        <i class="fa fa-users"></i><span>User Management</span>
      </a>
    </li>
    <li class="<% if(data.page === 'record_management') { %> active <% } %> management">
      <a href="/management/recording_management">
        <i class="fa fa-database"></i> <span>Record Management</span>
      </a>
    </li>
  </ul>
</section>
<!-- /.sidebar -->
